#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

.row {
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
}



body {
  background-color: #ffffff;
  color: #000000; 
}


.card {
  background-color: #ffffff; 
  border-radius: 20px;
  border: 1px solid #dee2e6;
  margin: 1em;
}


a {
  color: #007bff;
}


.fw-bold {
  color: #000000;
}

/* Fondo de botones */
.btn-primary {
  background-color: #007bff; 
  border-color: #007bff;
  color: #ffffff; 
}

/* Color de texto en botones en estado de hover */
.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

